

body {
	background-color: gray;

}

#main {
	position: relative;
	background-color: #ecf0f1;
	width: 560px;
	margin: auto;
}

.side-box-wrapper {
	width: 220px;
	position: absolute;
	right: -230px;
	top: 256px;
}

.side-box {
	width: 170px;
	height: 250px;
	background-color: white;
	position: fixed;
	font-size: 10pt;
}

.side-nav-heading {
	font-weight: bold;
	padding-left: 10px;
	margin-top: 15px;
}

.side-nav-list {
	list-style-type: none;
	text-align: left;
	padding-left: 20px;
}

.side-nav-element {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.side-nav-element:hover {
	background-color: Crimson;
}


.page-head {
	width: 100%;
}

.top-banner {
	display: table;
	height: 200px;
	width: 100%;
	/* width: 600px; */
	background-color: LimeGreen;
}

.top-column {
	display: table-cell;
	text-align: left;
	vertical-align: bottom;
	color: white;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
}

#top-banner-bottom {
	height: 10px;
	/* width: 600px; */
	background-color: green;

}

.nav-bar {
	height: 45px;
	/* width: 600px; */
	background-color: black;
	color: white;
}

.nav-list {
	margin: 0;
}

.nav-item {
	display: inline-block;
	float: right;
	line-height: 45px;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 10pt;
}

.nav-item:hover {
	background-color: Crimson;
}

.page-container {
	background-color: white;
	width: 100%;
}

.article-title {
	font-size: 20pt;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.section-title {
	font-size: 16pt;
	padding-left: 15px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gray;
}

.section-margins {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.page-padding-body {
	padding-left: 25px;
	padding-right: 25px;
}

.section-table {
	display: table;
	margin: 0 auto;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
}

.cell-table {
	display: table-cell;
	text-align: left;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	vertical-align: middle;
}

.row-table {
	display: table-row;
	text-align: left;
}

.title-bar-table {
	background-color: DarkGray;
	font-weight: bold;
}

.button-table {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: CornflowerBlue;
	color: white;
}

.button-table:hover {
	background-color: Crimson;
}

.highlight-text {
	background-color: DarkGray;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.placeholder-image {
	display:table;
	background-color: BurlyWood;
	text-align: center;
	height: 100px;
	width: 100%;
}

.placeholder-image-cell {
	display:table-cell;
	vertical-align: middle;
}

.page-list-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.floaty-text {
	float:left;
	display: inline;
}

.numbered-list {
	font-weight: bold;
	display: inline-block;
}

.comment-container {
	margin-top: 50px;
	padding-bottom: 50px;
}

.comment-title {
	font-size: 16pt;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.comment-sub-title {
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.input-info {
	text-align: right;
	padding-bottom: 5px;
	padding-top: 5px;
}

.input-tag {
	width: 70%;
}

.comment-submit {
	display: table;
	width: 100%;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	background-color: Crimson;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

.comment-submit-cell {
	display: table-cell;
	vertical-align: middle;
}

.comment-submit:hover {
	background-color: CornflowerBlue;
}

.comment-box {
	padding-top: 15px;
	padding-bottom: 10px;
	/* margin-top: 10px; */

}

.comment-icon {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #2ecc71;
}

.comment-info {
	display: inline-block;
	vertical-align: top;
}

.comment-username {
	display:block;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 3px;
}

.comment-time {
	display:block;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 3px;
}

.comment-text {
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 12px;
	/*  padding-bottom: 12px; */
}

.comment-sub {
	margin-left: 25px;
	padding-left: 10px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: pink;
}







